/* btn styles */
.btn {
  padding: 0.25em 0.75em;
  font-size: $font-size;
  text-align: center;
  font-weight: 600;
  min-width: 100px;
  cursor: pointer;
  text-decoration: none !important;
  position: relative;
  display: inline-block;
  @include transition-300;

  // &:hover {
  //   transform: translate(10%, 1%);
  // }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 3px);
    background-color: $third-color;
    top: -0.52rem;
    left: -0.48rem;
    @include transition-300;
    // padding: 0.25rem 0.75rem;
  }

  &:hover::after {
    top: -0.1rem;
    left: 0;
  }
}

// .btn__border {
//   &::after {
//     content: "";
//     position: absolute;
//     width: calc(100% - 2px);
//     height: calc(100% - 2px);
//     border: 3px solid $white-color;
//     background-color: $second-color;
//     border-radius: 0.125rem;
//     top: 0.48rem;
//     left: -0.48rem;
//     padding: 0.25rem 0.75rem;
//   }
// }

.btn--main {
  @extend .btn;
  border: 3px solid $gray-color;
  color: $gray-color !important;
  // background-color: $third-color;
  @include transition-300;

  &:hover {
    color: $main-color !important;
  }
}

.btn--second {
  @extend .btn;
  border: 3px solid $second-color;
  color: $main-color !important;
  background-color: $white-color;
  @include transition-300;

  &:hover {
    color: $main-color !important;
    background-color: $second-color;
  }
}

.btn--third {
  @extend .btn;
  border: 3px solid $main-color;
  color: $main-color !important;
  background-color: $white-color;
  @include transition-300;

  &:hover {
    color: $white-color !important;
    background-color: $main-color;
  }
}

.btn--full {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

/* quote styles */
.quote {
  margin-bottom: 1em;
  background-image: url("../img/bg-squiggly-lines.png");
  background-size: cover;
  background-color: $white-color;
  padding: 3em 2em;
  position: relative;

  .bg--white {
    padding-top: 7em;
    @include breakpoint(md) {
      padding: 3em 2em;
    }
  }
}

.quote__img {
  position: absolute;
  top: -25%;
  left: 30%;
  width: clamp(200px, 40%, 500px);
  z-index: 2;

  @include breakpoint(xsm) {
    top: -9%;
    left: 28%;
  }

  @include breakpoint(md) {
    top: -8%;
    left: -9rem;
  }
}

.quote__text {
  background-color: $white-color;
  padding: 1em;
  position: relative;
  z-index: 1;
  grid-column: 1/13;

  @include breakpoint(md) {
    grid-column: 4/13;
  }

  &::before {
    content: url("../img/quote.svg");
    position: absolute;
    top: -10px;
    left: -14px;
  }

  &::after {
    content: url("../img/quote.svg");
    position: absolute;
    bottom: -30px;
    right: -18px;
  }
}

.quote__cite {
  grid-column: 5/13;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-top: 0;

  @include breakpoint(md) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

/* alert styles */
.alert {
  padding-left: 1em;
  border-left: 3px solid $second-color;

  @include breakpoint(lg) {
    margin-top: 5.5em;
  }

  @include breakpoint(xlg) {
    margin-top: 6em;
  }
}

/* flickity styles */
.gallery-cell {
  width: 66%;
  min-height: 100px;
  margin-right: 1.5em;
  padding: 1em;
}
