/*---------------------- VARIABLES -----------------------*/
/* colors */
/* fonts */
/* grid */
/* media query mixin */
/* transitions */
.btn, .btn--main, .btn--second, .btn--third {
  padding: 0.25em 0.75em;
  font-size: 1.125em;
  text-align: center;
  font-weight: 600;
  min-width: 100px;
  cursor: pointer; }

.list__link:link, .header__list__link:link,
.footer__list__link:link, .list__link:visited, .header__list__link:visited,
.footer__list__link:visited {
  margin: 0.5em;
  font-family: apertura, sans-serif, arial; }

/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0; }

body {
  font-size: 1.125em, 16px;
  font-family: apertura, sans-serif, sans-serif; }
  @media (min-width: 1800px) {
    body {
      font-size: 1.25em, 20px; } }

*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* text styles */
h1,
.h1 {
  font-size: calc(1.125em * 1.5); }
  @media (min-width: 650px) {
    h1,
    .h1 {
      font-size: 2.3333333333em; } }

h2,
.h2 {
  font-size: 1.7777777778em; }

h3,
.h3 {
  font-size: 1.4444444444em; }

h4,
.h4 {
  font-size: 1.2222222222em; }

h5,
.h5 {
  font-size: 1.1111111111em; }

h6,
.h6 {
  font-size: 1em; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: apertura, sans-serif, sans-serif;
  font-weight: 400; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 1em 0; }

p,
span {
  font-size: 1.125em; }
  @media (min-width: 1800px) {
    p,
    span {
      font-size: calc(1.125em * 1.15); } }

.lead {
  font-size: 2em; }

.text--centered {
  text-align: center; }

.text--right {
  text-align: right; }

.text--left {
  text-align: left; }

/* link styles */
a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: #8ecae6;
  transition: all 300ms ease-in-out;
  backface-visibility: hidden; }
a:hover, a:active {
  color: #fc4672; }

/* img styles */
img {
  max-width: 100%;
  height: auto; }

/* colors */
.bg--main {
  background-color: #8ecae6; }

.bg--second {
  background-color: #fc4672; }

.bg--white {
  background-color: #fff; }

.text--main {
  color: #8ecae6; }

.text--second {
  color: #fc4672; }

.text--white {
  color: #fff; }

.text--black {
  color: #101010; }

/* form styles */
input {
  font-family: apertura, sans-serif; }
  input[type="text"], input[type="email"], input[type="number"], input[type="search"],
  input textarea {
    border: 1.5px solid #8ecae6;
    padding: 0.5em 0.75em; }
  input[type="search"] {
    display: block;
    width: 100%; }
  input[type="number"] {
    width: 25%; }

@media (min-width: 950px) {
  label {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.25em; } }

/* border styles */
.border--bottom {
  border-bottom: 2px solid #8ecae6; }

.border--second {
  border: 1.5px solid #fc4672; }

hr {
  border: 1.5px solid #8ecae6;
  margin: 1.25em 0; }

/*---------------------- HEADER ----------------------*/
/*---------------------- MAIN ----------------------*/
.main {
  margin: 1em auto; }

.section {
  margin: 2em 0; }

/*---------------------- FOOTER ----------------------*/
.footer {
  margin-top: 1em;
  padding: 1em 0;
  background-color: #8ecae6;
  color: #fff; }

/* display styles */
.d--block {
  display: block; }

.d--inblock {
  display: inline-block; }

.d--none {
  display: none; }

.d--none--mobile {
  display: none; }
  @media (min-width: 650px) {
    .d--none--mobile {
      display: block; } }

#absolute--top {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em; }

/* width styles */
.wrapper-900 {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em; }

.wrapper-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em; }

/* margin and padding styles */
.margin-1 {
  margin: 1em; }

.margin-tb-1 {
  margin: 1em 0; }

.margin-rl-1 {
  margin: 0 1em; }

.padding-1 {
  padding: 1em; }

/* grid styles */
.container,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em; }

.container,
.no-gap {
  grid-gap: 0; }

@media (min-width: 650px) {
  .col-2,
  .col-4,
  .col-6 {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 650px) {
  .col-3 {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 950px) {
  .col-4,
  .col-6 {
    grid-template-columns: repeat(3, 1fr); } }
@media (min-width: 1250px) {
  .col-4,
  .col-6 {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 1800px) {
  .col-6 {
    grid-template-columns: repeat(6, 1fr); } }

/* nav list styles */
.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.header__nav,
.footer__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-gap: 0;
  align-items: center;
  font-size: 1.125em; }

.header__nav--mobile {
  grid-template-columns: repeat(2, 1fr); }

.nav__logo {
  font-family: apertura, sans-serif;
  font-size: 1.125em;
  padding-left: 0.5em; }

.nav__list {
  flex-direction: column; }
  @media (min-width: 650px) {
    .nav__list {
      flex-direction: row; } }

.nav__text {
  display: flex;
  flex-direction: column; }
  @media (min-width: 650px) {
    .nav__text {
      justify-self: end; } }

/* header nav */
.header__nav {
  background-color: #fff;
  padding: 1em; }
  @media (min-width: 650px) {
    .header__nav {
      grid-template-columns: 1fr 2fr; } }

/* setup for mobile nav display */
.topnav {
  overflow: hidden; }
  @media (max-width: 650px) {
    .topnav .list__item a {
      display: none; } }
  .topnav .list__item .icon {
    display: none; }
    @media (max-width: 650px) {
      .topnav .list__item .icon {
        display: block;
        float: right; } }
  .topnav .responsive {
    position: relative; }
    .topnav .responsive .list__item a {
      float: none;
      display: block;
      text-align: left; }
      .topnav .responsive .list__item a .icon {
        position: absolute;
        right: 0;
        top: 0; }

/* card styles */
.card {
  position: relative;
  max-width: 350px;
  background-color: #8ecae6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 300ms ease-in-out; }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

.card__img {
  margin-bottom: -4px;
  position: relative; }
  .card__img img {
    width: 350px;
    height: 250px;
    object-fit: cover; }

.card__price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-family: apertura, sans-serif;
  text-align: center;
  line-height: 35px;
  margin: 1em;
  padding: 0.35em;
  background-color: #fc4672;
  width: 35px;
  height: 35px;
  border-radius: 50px; }

.card__details {
  border: 2px solid #8ecae6;
  border-top: none;
  padding: 1em;
  background-color: #8ecae6;
  color: #fff; }

.card__title {
  margin-top: 0;
  font-size: calc($font-size * 1.15);
  color: #fc4672; }

.card__title--centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%); }

/* btn styles */
.btn--main {
  border: 3px solid #fc4672;
  color: #fff !important;
  background-color: #424242;
  transition: all 300ms ease-in-out;
  backface-visibility: hidden; }
  .btn--main:hover {
    color: #8ecae6 !important;
    background-color: #fc4672; }

.btn--second {
  border: 3px solid #fc4672;
  color: #8ecae6 !important;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  backface-visibility: hidden; }
  .btn--second:hover {
    color: #8ecae6 !important;
    background-color: #fc4672; }

.btn--third {
  border: 3px solid #8ecae6;
  color: #8ecae6 !important;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  backface-visibility: hidden; }
  .btn--third:hover {
    color: #fff !important;
    background-color: #8ecae6; }

.btn--full {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  box-sizing: border-box; }

/*# sourceMappingURL=global.css.map */
