.btn {
  padding: 0.25em 0.75em;
  font-size: $font-size;
  text-align: center;
  font-weight: 600;
  min-width: 100px;
  cursor: pointer;
}

.list__link {
  &:link,
  &:visited {
    margin: 0.5em;
    font-family: $second-font-family, arial;
  }
}
