/*---------------------- VARIABLES -----------------------*/
/* colors */
$main-color: #8ecae6;
$second-color: #fc4672;
$third-color: #ffd166;
$black-color: #101010;
$grey-color: #424242;
$white-color: #fff;

/* fonts */
$font-size: 1.125em;
$main-font-family: apertura, sans-serif;
$second-font-family: apertura, sans-serif;
