// @font-face {
//   font-family: "Lumiera";
//   src: url("../fonts/lumiera.woff2") format("woff2"),
//     url("../fonts/lumiera.woff") format("woff");
// }
/*---------------------- VARIABLES -----------------------*/
/* colors */
$main-color: #101010;
$second-color: #101010;
$third-color: #101010;
$black-color: #101010;
$grey-color: #353535;
$white-color: #fff;

/* fonts */
$font-size: 1.125em;
$main-font-family: arial;
$second-font-family: serif;
