// @font-face {
//   font-family: "Lumiera";
//   src: url("../fonts/lumiera.woff2") format("woff2"),
//     url("../fonts/lumiera.woff") format("woff");
// }
/*---------------------- VARIABLES -----------------------*/
/* colors */
$blue-color: #8ecae6;
$red-color: #fc4672;
$yellow-color: #ffd166;
$black-color: #101010;
$grey-color: #424242;
$white-color: #fff;

/* fonts */
$font-size: 1.125em;
$main-font-family: arial;
$second-font-family: serif;
